.log
.DS_Store
.jest-*
.npmrc
dist
build
node_modules
empty
.vscode

.env
.env.*
!.env.example

lerna-debug.log
.cache
.idea
yarn-error.log
.next
**/.next
**/yarn-error.log

src/__test__/coverage/
__test__/coverage/

#files
/empty
